div#Galaxy {
  background-color: #1b0c26;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#stardustForm {
  width: 80%
}

.axis {
  stroke: #e8e6ec;
}

.axis path, .axis line {
  file: none;
//  stroke: black;
  stroke: #e8e6ec;
  shape-rendering: crispEdges;
}

svg {
//  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#particleDummy {
  display: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

div#refreshDummy {
  display: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}
