div#Galaxy {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#stardustForm {
  margin: 0 auto;
  width: 76%;
}

#stardustForm svg {
  background: url("../picture/web-circle.png") no-repeat;
  background-size: contain;
  background-position: center center;
}

.axis {
  stroke: #e8e6ec;
}

.axis path, .axis line {
  file: none;
//  stroke: black;
  stroke: #e8e6ec;
  shape-rendering: crispEdges;
}

svg {
//  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#particleDummy {
  display: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

div#refreshDummy {
  display: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

@media screen and (min-width: 1000px) {
  div#Galaxy {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
