img#howto_text {
//  height: 84px;
  width: 60%;
  margin: 10% auto 5%;
}

div#introduceBar hr {
  border: 0;
  margin: 0 auto;
  border-top: 1px #B2A7B7 solid;
  width: 85%;
}

img#howto_picture {
//  height: 308px;
  width: 60%;
  margin: 5% auto;
}

@media screen and (min-width: 990px) {
  img#howto_text {
    height: 38px;
    width: auto;
  }

  img#howto_picture {
    height: 256px;
    width: auto;
  }
}
