img#logoImg {
  margin-top: 20px;
  display: block;
  //margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  float: center;
}

#navBarForm {
  border-radius: 35px;
  background-color: #333;
  width: 328px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#navBarForm a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-deocration: none;
  font-size: 1rem;
}

#navBarForm a:hover {
  background-color: #ddd;
  color: black;
}

#navBarForm a.active {
  background-color: #6B2B8F;
  color: white;
}

.axis path, .axis line {
  file: none;
  stroke: black;
  shape-rendering: crispEdges;
}

svg {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
}
