.letterForm {
//    display: block;
  display: none;
  margin: auto;
  margin-top: 30px;
  background: #D4CFD9;
  padding: 3px;
  width: 85%;
  height: 56%;
  border-radius: 15px;
}

.letterHeader {
  display: flex;
  margin: 20px;
  align-items: center;
}

.letterHeader img.letterPicture {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.letterHeader .letterInfo {
  display: block;
  margin-left: 15px;
}

.letterHeader .letterInfo p {
  font-weight: bold;
  color: rgba(51, 27, 61, 1);
}

.letterHeader .letterInfo p.createdDate {
  margin-top: 2.5px;
  font-size: 20px;
  font-weight: normal;
//  word-spacing: 0.35rem;
}


.letterBody {
    display: block;
    margin: 20px;
}

.letterBody p.letterContextmessage {
  background-color: rgba(0, 0, 0, 0);
  color: #2f1d3b;
//  padding: 10px;
  padding: 0;
  min-height: 235px;
//  min-height: 100%;
//  max-height: 30%;
//  min-width: 85%;
//  max-width: 85%;
  line-height: 160%;
  overflow: hidden;
}

.letterBody hr {
  width: 100%;
  border: 0;
  border-top: 1px #B3ABBA solid;
  height: 1px;
}

.letterBody .letterLike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letterBody .letterLike .letterStarplus {
  justify-content: center;
  align-items: center;
  display: flex;
}.letterStarplus:hover {
  cursor: pointer;
}

.letterBody .letterLike .letterStarplus img.letterStarplusImage {
  margin-left: 0px;
  width:  28px;
  height: 28px;
}

.letterBody .letterLike .letterStarplus p.letterStarplusText {
  font-size: 1.6rem;
  font-family: 'kopub dotum';
  font-weight: bold;
  margin-left: 5px;
  color: #1e0a28;
}

.letterBody .letterLike img.letterStar {
//  margin-left: 60%;
  width: 28px;
  height: 28px;
}

.letterBody .letterLike p.letterLikeCount {
  margin-left: 7px;
  font-size: 1.7rem;
}

@media screen and (min-width: 1000px) {
  .letterHeader .letterInfo p.createdDate {
    font-size: 10px;
  }

  .letterBody .letterLike .letterStarplus img.letterStarplusImage {
    width:  15px;
    height: 15px;
  }

  .letterBody .letterLike .letterStarplus p.letterStarplusText {
    font-size: 0.85rem;
    margin-left: 5px;
  }

  .letterBody .letterLike img.letterStar {
  //  margin-left: 60%;
    width: 14px;
    height: 14px;
  }

  .letterBody .letterLike p.letterLikeCount {
    margin-left: 7px;
    font-size: 0.85rem;
  }
  .letterBody p.letterContextmessage {
    font-size: 0.9rem;
  }
}
