.letterForm {
//    display: block;
  display: none;
  margin: auto;
  margin-top: 30px;
  background: #e4e4e6;
  padding: 3px;
  width: 85%;
  border-radius: 15px;
}

.letterHeader {
  display: flex;
  margin: 20px;
  align-items: center;
}

.letterHeader img.letterPicture {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.letterHeader .letterInfo {
  display: block;
  margin-left: 15px;
}

.letterHeader .letterInfo p {
  font-weight: bold;
  color: rgba(51, 27, 61, 1);
}

.letterHeader .letterInfo p.createdDate {
  font-size: 10px;
  font-weight: normal;
}


.letterBody {
    display: block;
    margin: 20px;
}

.letterBody p.letterContextmessage {
  background-color: rgba(0, 0, 0, 0);
  color: #2f1d3b;
//  padding: 10px;
  padding: 0;
  min-height: 150px;
//  min-height: 100%;
//  max-height: 30%;
//  min-width: 85%;
//  max-width: 85%;
  line-height: 160%;
  overflow: hidden;
}

.letterBody hr {
  width: 93%;
}

.letterBody .letterLike {
  display: flex;
  //justify-content: center;
  align-items: center;
}

.letterBody .letterLike img.letterStar {
  margin-left: 30%;
  width: 20px;
  height: 20px;
}

.letterBody .letterLike p.letterLikeCount {
  margin-left: 8px;
}

.letterBody .letterLike img.letterStarplus {
  margin-left: 0px;
  width:  90.5px;
  height: 20px;
} img.letterStarplus:hover {
  cursor: pointer;
}
