div#News {
  background-color: #ADA8B3;

}

div.news-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: rgba(0, 0, 0, 0);
  width: 70%;
  float: inherit;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 3px;
}

div.news-letter {
  justify-content: center;
  padding: 4px;
  line-height: normal;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #eeeeee;
  overflow: hidden;
} div.news-letter:hover {
  opacity: 0.5;
}

div.news-header {
}

img.news-header-img {
  max-width: 100%;
  max-height: 100%;
}

div.news-header hr {
  border: none;
  border-top: 1px #CCCCCC solid;
  height: 1px;
  width: 80%;
}

div.news-container {
  height: 40%;
  overflow: hidden;
  font-family: 'KoPub Dotum';
  padding: 15px;
  color: #1e0a28;
}

h2.news-title {
  margin-left: 5px;
  font-family: 'KoPub Dotum';
  font-weight: bold;
  font-size: 15pt;
  color: #1E0A28;
  line-height: 21pt;
}

p.news-date {
  margin-top: 6px;
  margin-left: 5px;
  font-family: 'KoPub Dotum';
  font-size: 0.8rem;
  color: #4F4D51;
}

h2.news-title + p.news-date {
}

div.news-container p.news-preview {
  margin-top: 16px;
  display: block;
  overflow: hidden;
  font-family: 'KoPub Dotum';
  font-size: 0.8rem;
  margin-left: 5px;
  margin-right: 5px;
  color: #706F72;
  line-height: 14.4pt;
}

div.news-main-content {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 5px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f9f9f9;
  overflow: hidden;
  padding: ;
  height: 100%;
  width: 70%;
}

a.news-main-Close {
  float:right;
  top: 0;
  margin-right: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
} a.news-main-Close:hover {
  cursor: pointer;
}

div.news-main-content-header hr {
  border:none;
  border-top: 1px #CCCCCC solid;
}

div.news-main-content-header p.news-main-content-header-text {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.98rem;
}

p.news-main-content-text > * {
  font-size: 1.12rem;
  line-height: 185%;
  display: block;
  color: #1e0a28;
}
p.news-main-content-text iframe {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 570px
}

p.news-main-content-text iframe.vlog {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 315px;
}

div.news-main-content-header {
  margin: 30px;
}

div.news-main-content-header h2.news-main-content-header-title {
  margin-top: 20px;
}

div.news-main-content-header p.news-main-content-date {
  font-size: 1.12rem;
  color: #2d2d2d;
  margin-top: 5px;
}

div.news-main-content-header img {
  margin: 0;
  padding: 0;
  top: 0;
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 50%;
  max-width: 540px;
  max-height: 960px;
  opacity: 1;
}

div.news-main-content-header hr {

}

div.news-main-content-body video {
  width: 100%;
  height: 75%;
  max-width: ;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}

div.news-main-content-body video + div.news-main-content-body p {
  margin-top: 10px;
}

div.news-main-content-body p {
  font-family: 'KoPub Dotum';
  line-height: 1.96em;
  margin: 30px;
}

div.news-main-content-body p + div.news-main-content-body p {
  margin-top: 5px;
}

@media screen and (min-width: 500px) {
  div.news-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  div.news-main-content {
    width: 90%;
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  div.news-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  div.news-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  div.news-main-content-header p.news-main-content-header-text {
    font-size: 0.7rem;
  }

  p.news-main-content-text > * {
    font-size: 0.9rem;
  }

  div.news-main-content-header p.news-main-content-date {
    font-size: 0.8rem;
  }

  div.news-main-content-body p {
    line-height: 1.4em;
  }
}

