div.news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;

  background-color: rgba(0, 0, 0, 0);
  width: 70%;
  float: inherit;

  margin: 0 auto;
  margin-top: 30px;
  padding: 3px;
}

div.news-letter {
  justify-content: center;
  padding: 4px;
  line-height: normal;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #eeeeee;
  max-height: 400px;
} div.news-letter:hover {
//  background: #3cba54;
  opacity: 0.5;
}

div.news-header {
  height: 60%;
  width: 100%;
}

img.news-header-img {
  max-width: 100%;
  max-height: 100%;
}

div.news-header hr {
  align: center;
  noshade: noshade;
  width: 80%;
}

div.news-container {
  height: 40%;
  width: 100%;
  overflow: scroll;
  font-family: 'KoPub Dotum';
  padding: 5px;
  //font-size: 2em;
}

h2.news-title {
  margin-left: 5px;
}

h2.news-title + p.news-date {
  margin: 5px;
}

div.news-container p.news-preview {
  margin-top: 10px;
  display: block;
  overflow: scroll;
  font-family: 'KoPub Dotum';
  font-size: 0.65em;
  line-height: 1.4em;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 800px) {
  div.news-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  div.news-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

div.news-main-content {
  display: none;
  margin: 0 auto;
  margin-top: 30px;
  background-color: ;
  overflow: scroll;
  padding: ;
  height: 100%;
  width: 70%;
}

div.news-main-content img {
  margin: 0;
  padding: 0;
  top: 0;
  //position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 540px;
  max-height: 960px;
  opacity: 1;
}

div.news-main-content hr {
  
}

div.news-main-content video {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

div.news-main-content video + p {
  margin-top: 10px;
}

div.news-main-content p {
  font-family: 'KoPub Dotum';
  line-height: 1.4em;
}

div.news-main-content p + p {
  margin-top: 5px;
}
