#PostForm {
  display: none;
  margin: 30px auto;
  background-color: #e4e4e6;
  width: 85%;
  height: 50%;
  max-width: 960px;
  padding: 3px;
  border-radius: 15px;
}

.PostHeader {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  padding-right: 5px;
}

.PostHeader img.PostPicture {
  margin: 5px 5px;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.PostHeader p {
  font-weight: bold;
  margin-left: 15px;
  color: rgba(51, 27, 61, 1);
}

.PostBody {
  margin: 10px 20px;
}

.PostBody textarea#PostBox {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 10px;
  margin-right: 0px;
  width: 96%;
  height: 130px;
  line-height: ;
  font-family: 'KoPub Dotum';
  color: rgba(138, 125, 145, 1);
  overflow: hidden;
  resize: none;
  outline: 0;
}

.PostBody hr {

}

.PostBody input[type="submit"] {
//  margin-left: 73%;
  float: right;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: rgba(191, 188, 195, 1);
  font-size: 15px;
  font-weight: bold;
  color: rgba(51, 27, 61, 1);
  outline: 0;
} .PostBody input[type="submit"]:hover {
  cursor: pointer;
}
