div#searchBarForm {
  width: 100%;
  display: block;

  margin-left: auto;
  margin-right: auto;
//  margin-top: 20px;
  padding-top: 30px;
}

div#keywordBar {
  width: 290px;
  margin: 0 auto;
  padding-left: 5px;
  margin-bottom: 10px;
}

#searchBarForm img {
  width: 17px;
  height: 15px;
  margin-right: 5px;
}

#searchBarForm strong {
  margin-left: auto;
  margin-right: auto;
  float: center;
  color: #e8e6ec;
}

#searchBarForm p {
  color: #756d7e;
  font-size: 10px;
  margin-left: 140px;
}

#searchBarForm hr {
  border: none;
  border-top: 1px #CCCCCC solid;
  height: 1px;
  width: 60%;
}

div#searchBar {
  display: block;
  margin: 0 auto;
  width: 70%;
}

div#searchBarforCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

button#searchButton {
  width: 50px;
  //max-width: 80px;
  box-sizing: border-box;
  background: url('../picture/searchSJ.png') no-repeat center;
  background-size: 19px;
  margin: 5px;
  margin-left: 0;
  border: 1px solid #ccc;
  border-left: 0 rgba(0, 0, 0, 0);
  border-radius: 0 12px 12px 0;
  padding: 13px 5px;
  padding-left: 0;
  font-size: 11px;
  transition: width 0.4s ease-in-out;
  opacity: 0.5;
}
button#searchButton:hover {
  cursor: pointer;
}

input#searchBox[type=text] {
  width: 240px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: 1px solid #ccc;
  border-right: 0;
//  border-radius: 4px;
  border-radius: 12px 0 0 12px;
  font-size: 11pt;
  color: #e8e6ec;
//  background-color: white;
  background-color: transparent;
//  background: url('../picture/searchicon.png') no-repeat center;
//  background-image: url('../picture/searchicon.png');
  background-size: 27px 27px;
  background-position: 95% center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 15px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  opacity: 0.5;
  letter-spacing: -1.3px;
}

/* When the input field gets focus, change its width to 100% */
input#searchBox[type=text]:focus {
//  width: 100%;
  opacity: 1;
}
