div#searchBarForm {
  width: 100%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

div#keywordBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  padding-left: 5px;
  margin-bottom: 10px;
}

#keywordBar img {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

#keywordBar strong {
  margin-left: 0;
  margin-right: auto;
  font-size: 1.5rem;
  color: rgba(30, 10, 40, 1);
}

#searchBar p {
  color: #756d7e;
  font-size: 10px;
  margin-left: 140px;
}

#searchBarForm hr {
  border: none;
  border-top: 1px #CCCCCC solid;
  height: 1px;
  width: 60%;
}

div#searchBar {
  display: block;
  margin: 0 auto;
  width: 100%;
}

div#searchBarforCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input#searchBox[type="text"] {
  width: 85%;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: 1px solid rgba(30, 10, 40, 1);
  border-radius: 12px;
  font-size: 21px;
  color: rgba(134, 123, 141, 1);
  background: url('../picture/searchSJ.png') no-repeat center;
  background-position: 95% center; 
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 23px 27px;
  opacity: 0.5;
  letter-spacing: -1.3px;
  outline: 0;
}

input#searchBox[type=text]:focus {
  color: rgba(30, 10, 40, 1);
}

@media screen and (min-width: 1000px) {
  div#keywordBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding-left: 5px;
    margin-bottom: 10px;
  }

  #keywordBar img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  #keywordBar strong {
    font-size: 1rem;
  }

  input#searchBox[type="text"] {
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 11.5pt;
    background: url('../picture/searchSJ.png') no-repeat center;
    background-size: 27px;
    background-position: 95% center; 
    padding: 12px 20px 12px 15px;
    opacity: 0.5;
    letter-spacing: -1.3px;
  }
}
