.tooltip {
  display: none;
  position: absolute;
  overflow: hidden;
  line-height: 1;
//  font-weight: bold;
  width: 150px;
  height: 55px;
  padding: 12px;
  background: rgba(51, 27, 61, 1);
  color: rgba(138, 125, 145, 1);
  border-radius: 8px;
}

@media screen and (min-width: 990px) {
  .tooltip {
    display: block;
  }
}

