.tooltip {
  display: none;
  position: absolute;
  overflow: hidden;
  line-height: 1;
  width: 105px;
  height: 48px;
  padding: 8px;
  font-size: 0.8rem;
  line-height: 140%;
  background: rgba(51, 27, 61, 1);
  color: rgba(138, 125, 145, 1);
  border-radius: 8px;
}

@media screen and (min-width: 990px) {
  .tooltip {
    display: block;
  }
}

