#topMenu {
  display: table;
  height: 120px;
  background-color: #D1CFD6;
  width: 100%;
}

#navBarForm {
  display: flex;
  align-items: center;
  height: 120px;
}

#logo-link {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#logo-link img.menuLogo {
  content:url("../picture/meonzziLogoSmall.png");
  width: 61px;
  height: 61px;
}

#navBarForm hr {
  display: inline;
  height: 100%;
  width: 1px;
  border none;
}

#linktag {
  display: inherit;
}

#linktag a {
  margin-left: 30px;
  font-size: 1.5rem;
  color: #330651;
}

#linktag a:hover {
//  background-color: rgba(0, 0, 0, 0);
  color: #877693;
  cursor: pointer;
  font-weight: bold;
}

#linktag a.active {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}

#fbtag {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  margin: 0 auto;
}

#fbtag img.FBlogin-Img {
  display: none;
  margin: 6px 6px;
  width: 90px;
  height: 90px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
}#fbtag img.FBlogin-Img:hover {
  cursor: pointer;
}

div#FBlogin-before {
  border: 0;
  border-radius: 50px;
  padding: 0 7px;
  background-color: #C2BDC8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
} div#FBlogin-before:hover {
  cursor: pointer;
}

div#FBlogin-before img#FB-default-picture {
//  border: 1px solid #362540;
  border-radius: 90px;
  width: 54px;
  height: 54px;
}

div#FBlogin-before p {
  display: none;
  font-size: 0.85rem;
  color: #1e0a28;
}

div#FBlogin-button {
  position: inherit;
  margin-left: 100%
  right: 10px;
  vertical-align: middle;
  justify-content: center;
}

@media screen and (min-width: 1000px){
  #topMenu {
    height: 90px;
  }

  #navBarForm {
    height: 90px;
  }

  #logo-link img.menuLogo{
    content:url("../picture/meonzziLogo.png");
    width: 149px;
    height: 40px;
  }
  #linktag a {
    margin-left: 50px;
    font-size: 0.85rem;
  }

  #fbtag img.FBlogin-Img {
    margin: 3px 3px;
    width: 42px;
    height: 42px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  }

  div#FBlogin-before {
    border-radius: 14px;
    padding: 0 13px;
    height: 44px;
  }
  div#FBlogin-before img#FB-default-picture {
    margin-right: 10px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
  }
  div#FBlogin-before p {
    display: block;
  }
}
