#topMenu {
  //position: absolute;
  //right: 34px;
  //top: 10px;
  display: table;
  height: 90px;
  background-color: #D1CFD6;
  width: 100%;
}

#navBarForm {
//  margin: 0 auto;
//  display: inline-block;
//  display: table-cell;
  display: flex;
//  vertical-align: middle;
  align-items: center;
  height: 90px;
//  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
  //overflow: hidden;
}

#logo-link {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#logo-link img.menuLogo {
  content:url("../picture/meonzziLogoSmall.png");
  width: 42px;
  height: 42px;
//  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
}

#navBarForm hr {
  display: inline;
  height: 100%;
  width: 1px;
  border none;

/*  border: none;
//  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 100%;
  width: 1px;
  */
}

#linktag {
  display: inherit;
}

/*
#navBarForm button {
  float:left;
//  background-color: #e5dbff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
}
*/

#linktag a {
  color: black;
  margin-left: 15px;
  font-size: 0.85rem;
  color: #1e0a28;
}

#linktag a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

#linktag a.active {
//  background-color: #682B8F;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}

//#FBlogin-button {
//  position: absolute;
//  right: 4px;
//  top: 4px;
//}

#fbtag {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  margin: 0 auto;
}

#fbtag img.FBlogin-Img {
  display: none;
  position: absolute;
  right: 10px;
  margin: 3px 3px;
  width: 38px;
  height: 38px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#FBlogin-button {
  position: inherit;
  margin-left: 100%
  right: 10px;
  vertical-align: middle;
  justify-content: center;
}

span#logoLink {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  #logo-link img.menuLogo{
    content:url("../picture/meonzziLogo.png");
    width: 152px;
    height: 42px;
  }
  #linktag a {
    margin-left: 50px;
  }
}
